.slick-dots {
  position: absolute;
  bottom: 20px; /* Adjust the bottom position as needed */
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
  
}
.slick-dots li button:before {
    color: white;
  }

  .slick-dots li.slick-active button:before {
    color:rgb(60, 60, 60) !important;
}

.about-img1 {
  @media screen and (min-width: 375px) and (max-width: 450px) {
    width: 10rem;
    height: 12rem;
  }
  @media screen and (min-width: 450px) and (max-width: 500px) {
    width: 12rem;
    height: 14rem;
  }
  @media screen and (min-width: 500px) and (max-width: 600px) {
    width: 13rem;
    height: 16rem;
  }
  @media screen and (min-width: 600px) and (max-width: 700px) {
    width: 16rem;
    height: 18rem;
  }
  @media screen and (min-width: 700px) and (max-width: 768px) {
    width: 18rem;
    height: 20rem;
  }
}
.about-img2 {
  @media screen and (min-width: 375px) and (max-width: 450px) {
    width: 10rem;
    height: 12rem;
  }
  @media screen and (min-width: 450px) and (max-width: 500px) {
    width: 12rem;
    height: 14rem;
  }
  @media screen and (min-width: 500px) and (max-width: 600px) {
    width: 13rem;
    height: 16rem;
  }
  @media screen and (min-width: 600px) and (max-width: 700px) {
    width: 16rem;
    height: 18rem;
  }
  @media screen and (min-width: 700px) and (max-width: 768px) {
    width: 18rem;
    height: 20rem;
  }
}